<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
    <include resource="org/springframework/boot/logging/logback/base.xml"/>  
    <logger name="org.springframework.web" level="DEBUG"/>  
    <logger name="com.example.demo" level="DEBUG"/>  
    <logger name="io.dubbo.springboot" level="DEBUG"/>  
    <logger name="com.alibaba" level="DEBUG"/>  
    <logger name="org.apache.zookeeper" level="DEBUG"/>  
 
</configuration>  